.idea/
*af_venv*/
.env
.venv

# Airflow
airflow*
*.cfg
*log*
.mypy_cache/
.DS_Store
.pytest_cache/
.cache/
.coverage
htmlcov/
data/*
!data/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask stuff:
instance/
.webassets-cache
