apache-airflow==2.5.0 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.5.0/constraints-3.10.txt
apache-airflow-providers-postgres~=5.3.1
astronomer-providers[apache.livy]~=1.13.0
pandas~=1.5.2
