apache-airflow==2.3.3 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.3.3/constraints-3.10.txt
apache-airflow-providers-postgres~=5.1.0
astronomer-providers[apache.livy]~=1.7.0
pandas~=1.4.3
